.container {
  margin-top: 1.8rem;
  display: flex;
  gap: 2.5rem;
}

.input {
  flex: 1;
  font: inherit;
  font-size: 1.4rem;
  padding: 2rem 1.2rem;
  border-radius: 12px;
  border: 1px solid #bdbdbd;
  font-weight: 600;
}

.input::placeholder {
  font-weight: 400;
  color: #828282;
}