.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: -0.045em;
  margin-top: 3.2rem;
  margin-bottom: 5.8rem;
}

.titleBar {
  display: flex;
  /*padding-bottom: 1.8rem;*/
  border-bottom: 1px solid #bdbdbd;
}

.titleBar a {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
  flex: 1;
  display: flex;
  justify-content: center;
}

.titleBar a div {
  text-align: center;
  width: 9rem;
}

.section div {
  padding-bottom: 1.8rem;
  border-bottom: 4px solid #2f80ed;
}