.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: -0.045em;
  margin-top: 3.2rem;
  margin-bottom: 5.8rem;
}

.titleBar {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #bdbdbd;
}

.section {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
}